<div class="container">
  <div class="row">
    <h1>Let's get started!</h1>
    <p>
      Before you buy or sell any products from us you first need to tell
      us a few things about your company.
    </p>
    <%= link_to "Next", company_signup_business_path, class: "btn btn-primary" %>
  </div>
</div>
