<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2 panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Reset your password</h4>
        </div>
        <div class="panel-body">
          <p>
            We just sent you an email with a link to reset your
            password.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
