<div id="login" class="container">
<%= form_for :password,
  url: password_path(@user, token: @user.password_change_token),
  method: :put,
  html: {class: 'form-horizontal'} do |form| %>

  <legend>Reset password</legend>

  <div class="form-group">
    <%= form.password_field :password,
      class: 'form-control',
      placeholder: t('placeholders.password'),
      required: "required",
      autofocus: true %>
  </div>

  <div class="form-group">
    <button class="btn btn-default btn-primary" type="submit">
      Reset my password
    </button>
  </div>
<% end %>
</div>
