<div id="login" class="container">
<%= form_for :password, url: :passwords, html: {class: 'form-horizontal'} do |form| %>

  <legend>Reset password</legend>

  <div class="form-group">
    <%= form.email_field :email,
      class: 'form-control',
      placeholder: t('placeholders.email'),
      required: "required",
      autofocus: true %>
  </div>

  <div class="form-group">
    <button class="btn btn-default btn-primary" type="submit">
      Reset my password
    </button>
  </div>
<% end %>
</div>
