<div class="jumbotron">
  <div class="container">
    <p>Site subtitle</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
  </div>
</div>

<div class="container products">
  <p>Products</p>
</div>
